<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<body>
<table class="table table-striped">
  <thead>
    <tr>
      <th><center>Name</center></th>
      <th><center>Address</center></th>
      <th><center>Mob</center></th>
      <th><center>Order</center></th>
      <th><center>Delivery Status</center></th>
      <!-- <th><center>Status</center></th> -->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td><center>{{order.name}}</center></td>
      <td><center>{{order.address}}</center></td>
      <td><center>{{order.mob}}</center></td>
      <td>
		<ul ng-repeat = "item in order.order">
      		{{item.name}} - {{item.qty}}
      	</ul>
 	  </td>
 		<!-- <td><center><a href="" ng-click="showOrder(order.order)">Show</a></center></td> -->
    <td><center><a href="" ng-click = "deliver(order.mob)">{{order.deliveryStatus}}</a></center></td>
    </tr>
  </tbody>
</table>
</body>